[submodule "src/lib3ds"]
	path = vendor/lib3ds
	url = https://github.com/techannihilation/lib3ds.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/minzip-ng"]
	path = vendor/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "vendor/CLI11"]
	path = vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/simdutf"]
	path = vendor/simdutf
	url = https://github.com/simdutf/simdutf.git
